#resultados-promotores div.well {
    cursor: pointer;
}

#promotores-seleccionados i.delete-promotor {
    cursor: pointer;
}

ul.multiselect-container {
    padding-left: 10px;
    padding-top: 2px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}